@media (min-width: 768px) {

  .sidebar #gpsTrackerButton {
    margin-left: 70px; 
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .sidebar #coordinatesTitle {
    font-weight: bold;
    padding: 8px 30px;
  }

  .sidebar #locationTitle {
    font-weight: bold;
    padding: 8px 32px;
  }

  .sidebar #windowSliderLabel {
    font-size: 25px;
    padding: 8px 32px;
  }

  .sidebar #windowSlider {
    padding: 0px 30px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2efe9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }

  .sidebar #carData {
    font-weight: bold;
    padding: 2px 0px 20px;
    text-align: center; 
    margin: 0 auto; 
}

  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .sidebar #check1 {
    padding: 40px 70px 20px;
    font-size: 25px;
  }

  .sidebar #check2 {
    padding: 0px 70px;
    font-size: 25px;
  }

}

@media (max-width: 768px) {

  .sidebar #gpsTrackerButton {
    margin-left: 70px; 
    margin-top: 30px;
  }

  .sidebar #coordinatesTitle {
    font-weight: bold;
    position: absolute;
    padding: 0px 30px;
    top: 20px; 
    right: 210px;
  }


  .sidebar #locationTitle {
    font-weight: bold;
    position: absolute;
    padding: 0px 30px;
    bottom: 100px; 
    right: 0px;
  }

  .sidebar #windowSliderLabel {
    font-size: 25px;
    position: absolute;
    padding: 0px 30px;
    bottom: 10px; 
    right: 130px;
    color: white;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.6;
  }
  
  .sidebar p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    transition: 0.3s;
    opacity: 1;
  }

  .sidebar #carData {
    font-weight: bold;
    padding: 8px 100px;
    margin: 0 auto; 
    color: white;
  }

  .sidebar h2 {
    opacity: 1;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 1px;
    left: 1px;
    text-align: center;
    
  }

  .sidebar p {
    opacity: 1;
    color: white;
    font-weight: bold;
  }

  .sidebar .timeSlider {
    position: absolute;
    bottom: 1px;
    right: 1px;
    left: 1px;
    padding: 50px;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    font-size: 70px;
    color: white;
  }

  .sidebar .mobileHidden {
    color:black;
  }

  .sidebar .form-check-label {
    color: white;
    font-weight: bold;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .sidebar #check1 {
    padding: 40px 70px 20px;
    font-size: 25px;
    color: white;
  }

  .sidebar #check2 {
    padding: 0px 70px;
    font-size: 25px;
    color: white;
  }
}
